<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mad Libs!</title>

</head>

<body>
    <h1>MAD LIBS!</h1>
    <form action="/full">
        {%for word in adj%}
        <p>{{word}} =
            <input type="text" name="{{word}}">
        </p>
        {%endfor%}
        <br>
        <br>
        <button>Generate Story</button>
    </form>
</body>

</html>